<h4><%= "добавить ребенка пользователя #{@parent.fullname}" %></h4>
<p><%= link_to "вернуться в профайл родителя", @parent, class: "btn btn-info btn-xs active" %></p>
<p><%= render "users/form", object: @child, as: :child, url: user_children_path(@parent, @child) %></p>
