<div class="index-container">
  <div class="index-header">Пользователи</div>
  <div class="content-container clearfix">
    <div class="index-sidebar col-md-3">
      <ul class="nav nav-pills nav-stacked">
        <li><%= link_to "ПОЛЬЗОВАТЕЛИ", users_path %></li>
        <li><%= link_to "ОТЧЕТЫ" %></li>
        <li><%= link_to "ДОБАВИТЬ", new_user_path %></li>
        <li><%= link_to "НАЙТИ", search_new_path %></li>        
      </ul>    
    </div>
    <div class="index-content col-md-9">
      <div class="search-wipper">
        <div class="new-contact">
          <h4 class="about-contact">Поиск</h4>
        </div>
        <%= form_for @search, builder: ::SearchFormBuilder, method: :get do |f| %>
          <div class="form group col-md-12 search-form">
            <%= f.last_name %>
            <%= f.first_name %>
            <%= f.middle_name %>
            <%= f.email %>
            <%= f.university %>    
            <%= f.role %>
            <%= f.language %>
            <div class="form group col-md-12">
            <strong class="col-md-3 text-right">наличие супруга</strong>
              <%= f.spouse  %>
            </div>
            <div class="form group col-md-12">
            <strong class="col-md-3 text-right">наличие детей</strong>
              <%= f.children  %>
            </div>
            <div class="form group col-md-12">
            <strong class="col-md-3 text-right">пол</strong>
              <%= f.gender  %> 
            </div>
            <div class="form-group col-md-12">
              <%= f.submit 'сохранить', class: "btn btn-primary col-md-3 text-right" %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="index-footer">
  </div>
</div>
