<div class="index-container">
  <div class="index-header">Пользователи</div>
  <div class="content-container clearfix">
    <div class="index-sidebar col-md-3">
      <ul class="nav nav-pills nav-stacked">
        <li><%= link_to "ПОЛЬЗОВАТЕЛИ", users_path %></li>
        <li><%= link_to "ОТЧЕТЫ" %></li>
        <li><%= link_to "ДОБАВИТЬ", new_user_path %></li>
        <li><%= link_to "НАЙТИ", search_new_path %></li>        
      </ul>    
    </div>
    <div class="index-content col-md-9">
      <div class="search-wipper">
        <div class="new-contact">
          <h4 class="about-contact">найденные пользователи</h4>
        </div>
        <ul>
          <% @users.each do |index_user| %>
            <li>
              <h3>
                <%= link_to "#{index_user.first_name} #{index_user.last_name}", user_path(index_user.id) %>
              </h3>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
  <div class="index-footer">
  </div>
</div>
