$("#spouse_row_<%= @spouse.id %>").fadeOut();
$("#spouse_row_<%= @spouse.id %>").html("<%= j(link_to('Add spouse', new_user_spouse_path(@user), class: 'btn btn-info btn-xs active')) %>");
$("#spouse_row_<%= @spouse.id %>").fadeIn();