<h4><%= "добавить супруга пользователя #{@user.fullname}" %></h4>
<p><%= link_to "вернуться в профайл супруга", @user, class: "btn btn-info btn-xs active" %></p>
<p><%= render "users/form", object: @spouse, as: :spouse, url: user_spouse_path %></p>
