<%= fields_for object, as: as, url: url do |f| %>
  <div class="form-group">
  <% if object.parents.count < 2 %>
    <%= link_to "добавить родителя", new_user_parent_path(object), class: "btn btn-info btn-xs active" %>
    или
    <%= select_tag "e2", options_for_select(@user_options), name: "select_parent", include_blank: true %>
  <% end %>    
  </div>
<% end %>