<div class="new-contact">
  <h4 class="about-contact">O контакте</h4>
</div>
<div class="forma">
  <%= nested_form_for object, as: as, url: url do |f| %>
    <div class="form-group form-inline col-md-12">
      <%= f.label :last_name, "Фамилия", class: "col-md-3 text-right"%>
      <%= f.text_field :last_name, class: "form-control col-md-9 xt-input" %>
    </div>
    <div class="form-group form-inline col-md-12">
      <%= f.label :first_name, "Имя", class: "col-md-3 text-right" %>
      <%= f.text_field :first_name, class: "form-control col-md-9 xt-input" %>
    </div>
    <div class="form-group form-inline col-md-12">
      <%= f.label :middle_name, "Отчество", class: "col-md-3 text-right" %>
      <%= f.text_field :middle_name, class: "form-control col-md-9 xt-input" %>
    </div>
    <div class="form-group form-inline col-md-12">
      <div class="col-md-3 text-right"><b>Пол</b></div>
      <% User.genders_for_select.each do |e| %>
        <div class="radio col-md-1">
          <%= radio_button_tag("user[gender_cd]", User.genders[e.last]) %>
          <%= label_tag("user[gender_cd]", e.first) %>
        </div>
      <% end %>
    </div>
    <div class="form-group form-inline col-md-12">
      <%= f.label :birthday, "дата рождения", class: "col-md-3 text-right" %>
      <%= f.text_field :birthday, class: "datepicker form-control col-md-9 tr-input" %>
    </div>
    <div class="form-group form-inline col-md-12">
      <%= f.label :email, "Еmail", class: "col-md-3 text-right" %>
      <%= f.text_field :email, class: "form-control col-md-9 tr-input" %>
    </div>
    <div class="form-group form-inline col-md-12">
      <%= f.label :phone, "Телефон", class: "col-md-3 text-right" %>
      <%= f.text_field :phone, class: "form-control col-md-9 tr-input" %>
    </div>
    <div class="form-group form-inline col-md-12">
      <div class="col-md-3 text-right"><b>Место рождения</b></div>
      <div class="form-group col-md-3 tripple-field">
        <%= f.text_field :bp_country, {class: "form-control tr-input", placeholder: "Страна"} %>
      </div>
      <div class="form-group col-md-3 tripple-field">
        <%= f.text_field :bp_address, {class: "form-control", placeholder: "Город/поселок"} %>
      </div>
      <div class="form-group col-md-3 tripple-field">
        <%= f.text_field :bp_gamoat, {class: "form-control", placeholder: "Джамоат"} %>
      </div>
    </div>
    <div class="form-group form-inline col-md-12">
      <div class="col-md-3 text-right"><b>Место проживания</b></div>
      <div class="form-group col-md-3 tripple-field">
        <%= f.text_field :lp_country, {class: "form-control tr-input", placeholder: "Страна"} %>
      </div>
      <div class="form-group col-md-3 tripple-field">
        <%= f.text_field :lp_address, {class: "form-control", placeholder: "Город/поселок"} %>
      </div>
      <div class="form-group col-md-3 tripple-field">
        <%= f.text_field :lp_district_metro, {class: "form-control", placeholder: "Район/метро"} %>
      </div>
    </div>
    <div class="form-group form-inline col-md-12">
        <%= f.label :state_of_living, "постоянно/временно", class: "col-md-3 text-right" %>
        <%= f.select :state_of_living, User.state_of_livings.keys, {}, class: "form-control col-md-9 tr-input" %>
    </div>
    <div class="form-group form-inline col-md-12">
      <div class="col-md-3 text-right"><b>Национальность</b></div>
        <div class="checkbox col-md-3 tripple-field">
          <%= f.check_box(:russian) %>
          <%= label_tag(:russian, "РФ") %>
          <%= f.check_box(:tajik) %>
          <%= label_tag(:tajik, "РТ") %>
        </div>
      <div class="form-group">
        <%= f.text_field :other_nationality, {class: "form-control col-md-3", placeholder: "другое"} %>
      </div>
    </div>
    <div class="form-group form-inline col-md-12">
      <div class="col-md-3 text-right"><b>Семейное положение</b></div>
      <% User.marital_statuses_for_select.each do |e| %>
        <div class="radio col-md-2">
          <% options = { checked: true} if e.last == f.object.marital_status %>
          <%= radio_button_tag("user[marital_status]", e.last, options) %>
          <%= label_tag(:marital_status_label, e.first) %>
        </div>
      <% end %>
    </div>
    <div class="form-group form-inline col-md-12">
      <div class="col-md-3 text-right"><b>Жена/муж</b></div>
      <div class="col-md-9 spouse-border">
      <table id="spouses">
        <%= f.fields_for :spouses do |s| %>
        <div class="nested-form col-md-12">
          <%= s.label :last_name, "Фамилия", class: "col-md-2 text-right"%>
          <%= s.text_field :last_name, class: "form-control col-md-10 nested-input" %>
        </div>
        <div class="nested-form col-md-12">
          <%= s.label :first_name, "Имя", class: "col-md-2 text-right" %>
          <%= s.text_field :first_name, class: "form-control col-md-10 nested-input" %>
        </div>
        <div class="nested-form col-md-12">
          <%= s.label :middle_name, "Отчество", class: "col-md-2 text-right" %>
          <%= s.text_field :middle_name, class: "form-control col-md-10 nested-input" %>
        </div>
        <div class="nested-form col-md-12">
          <%= s.label :email, "Еmail", class: "col-md-2 text-right" %>
          <%= s.text_field :email, class: "form-control col-md-5 bdate" %>
        </div>
        <div class="nested-form col-md-12">
          <%= s.label :birthday, "дата рождения", class: "col-md-2 text-right" %>
          <%= s.text_field :birthday, class: "datepicker form-control col-md-5 bdate" %>
          <%= s.label :year_of_marriage, "в браке с", class: "col-md-2 text-s" %>
          <%= s.text_field :year_of_marriage, class: "datepicker form-control col-md-3 " %>
        </div>
        <div class="nested-form col-md-12">
          <div class="col-md-2 text-right"><b>пол</b></div>
          <% User.genders_for_select.each do |e| %>
            <div class="radio col-md-2">
              <%= s.radio_button("gender_cd", User.genders[e.last]) %>
              <%= s.label("gender_cd", e.first) %>
            </div>
          <% end %>
          <div class="col-md-2 text-s"><b>проживает</b></div>
          <% User.state_of_separations_for_select.each do |e| %>
            <div class="radio col-md-2">
              <%= s.radio_button("state_of_separation_cd", User.state_of_separations[e.last]) %>
              <%= s.label("state_of_separation_cd", e.first) %>
            </div>
          <% end %>
        </div>
        <%= s.link_to_remove "убрать форму" %>
        <% end %>
      </table>
      <p>
        <%= f.link_to_add "добавить супруга", :spouses, :data => { :target => "#spouses" }, class: "btn btn-default col-md-4 col-md-offset-4 add-button" %>
      </p>
      </div>
    </div>
    <div class="form-group form-inline col-md-12">
      <div class="col-md-3 text-right"><b>Дети</b></div>
      <div class="col-md-9 spouse-border">
      <table id="children">
        <%= f.fields_for :children do |ch| %>
        <div class="nested-form col-md-12">
          <%= ch.label :last_name, "Фамилия", class: "col-md-2 text-right"%>
          <%= ch.text_field :last_name, class: "form-control col-md-10 nested-input" %>
        </div>
        <div class="nested-form col-md-12">
          <%= ch.label :first_name, "Имя", class: "col-md-2 text-right" %>
          <%= ch.text_field :first_name, class: "form-control col-md-10 nested-input" %>
        </div>
        <div class="nested-form col-md-12">
          <%= ch.label :middle_name, "Отчество", class: "col-md-2 text-right" %>
          <%= ch.text_field :middle_name, class: "form-control col-md-10 nested-input" %>
        </div>
        <div class="nested-form col-md-12">
          <%= ch.label :email, "Еmail", class: "col-md-2 text-right" %>
          <%= ch.text_field :email, class: "form-control col-md-5 bdate" %>
        </div>
        <div class="nested-form col-md-12">
          <%= ch.label :birthday, "дата рождения", class: "col-md-2 text-right" %>
          <%= ch.text_field :birthday, class: "datepicker form-control col-md-5 bdate" %>
        </div>
        <div class="nested-form col-md-12">
          <div class="col-md-2 text-right"><b>пол</b></div>
          <% User.genders_for_select.each do |e| %>
            <div class="radio col-md-2">
              <%= ch.radio_button("gender_cd", User.genders[e.last]) %>
              <%= ch.label("gender_cd", e.first) %>
            </div>
          <% end %>
          <div class="col-md-2 text-s"><b>проживает</b></div>
          <% User.state_of_separations_for_select.each do |e| %>
            <div class="radio col-md-2">
              <%= ch.radio_button("state_of_separation_cd", User.state_of_separations[e.last]) %>
              <%= ch.label("state_of_separation_cd", e.first) %>
            </div>
          <% end %>
        </div>
        <div class="nested-form col-md-12 ">
          <%= ch.label :current_occupation, "школа/дет.сад", class: "col-md-2 text-right"%>
          <%= ch.text_field :current_occupation, class: "form-control col-md-10 nested-input" %>
        </div>
        <%= ch.link_to_remove "убрать форму" %>
        <% end %>
      </table>
      <p>
        <%= f.link_to_add "добавить ребенка", :children, :data => { :target => "#children" }, class: "btn btn-default col-md-4 col-md-offset-4 add-button" %>
      </p>
      </div>
    </div>
    <div class="form-group form-inline col-md-12">
      <div class="col-md-3 text-right"><b>Образование</b></div>
      <div class="form-group col-md-3 tripple-field">
        <%= f.select :education, User.educations.keys, {}, class: "form-control tr-input" %>
      </div>
      <div class="form-group col-md-3 tripple-field">
        <%= f.label :grade, "степень" %>
        <%= f.select :grade, User.grades.keys, {}, class: "form-control" %>
      </div>
      <div class="form-group col-md-3 tripple-field">
        <%= f.label :year_of_graduation, "год" %>
        <%= f.text_field :year_of_graduation, class: "datepicker form-control" %>
      </div>
    </div>
    <div class="form-group form-inline col-md-12">
      <%= f.label :university, "оконченное учебное заведение", class: "col-md-3 text-right" %>
        <%= f.text_field :university, class: "form-control col-md-9 xt-input" %>
    </div>
    <div class="form-group form-inline col-md-12">
        <%= f.label :profession, "специальность", class: "col-md-3 text-right" %>
        <%= f.text_field :profession, class: "form-control col-md-9 xt-input" %>
    </div>
    <div class="form-group form-inline col-md-12">
      <div class="col-md-3 text-right"><b>иностранный язык</b></div>
      <div class="form-group col-md-4 tripple-field lang ">
      <table id="proficiencies">
        <%= f.fields_for :proficiencies do |l| %>
          <%= l.select :language_id, Language.all.map{|l| [l.name, l.id] }, class: "form-control col-md-2 nested-fields" %>
          <%= l.select :level, [['basic',1],['intermidiate',2],['advanced',3]], class: "form-control col-md-2 nested-fields" %>
          <%= l.link_to_remove "убрать поле", class: "nested-fields" %>
        <% end %>
      </table>
      </div>
      <div class="form-group col-md-3 tripple-field lang ">
        <p><%= f.link_to_add "добавить язык", :proficiencies, :data => { :target => "#proficiencies" } %></p>
      </div>
    </div>
    <div class="form-group form-inline col-md-12">
      <%= f.label :other_lang, "другие иностранные языки", class: "col-md-3 text-right" %>
      <%= f.text_field :other_lang, class: "form-control col-md-9 xt-input" %>
    </div>
    <div class="form-group form-inline col-md-12">
      <div class="col-md-3 text-right"><b>текущее место работы/учебы с указанием должности</b></div>
      <div class="form-group col-md-4 tripple-field">
        <%= f.text_field :current_occupation, class: "form-control occupation-input" %>
      </div>
      <div class="form-group col-md-2 tripple-field">
        <%= f.label :income, "доход" %>
        <%= f.select :income, User.incomes.keys, {}, class: "form-control" %>
      </div>
      <div class="form-group col-md-2 tripple-field occupied">
        <%= f.label :state_of_occupation, "занятость" %>
        <%= f.select :state_of_occupation, User.state_of_occupations.keys, {}, class: "form-control occupied-input" %>
      </div>
    </div>
    <div class="form-group form-inline col-md-12">
      <%= f.label :user_helps_gamoat, "В какой сфере может быть полезен джамоату", class: "col-md-3 text-right" %>
      <%= f.text_field :user_helps_gamoat, class: "form-control col-md-9 xt-input" %>
    </div>
    <div class="form-group form-inline col-md-12">
      <div class="col-md-3 text-right"><b>права доступа</b></div>
      <% Role.all.each do |role| %>
        <div class="checkbox col-md-2">
          <%= check_box_tag "user[role_ids][]", role.id, f.object.roles.include?(role), id: "user_role_ids_#{role.id}" %>
          <%= role.name %>
        </div>
      <% end %>
    </div>
    <div class="form-group col-md-12">
      <%= f.submit 'сохранить', class: "btn btn-primary col-md-3 text-right" %>
    </div>
  <% end %>
</div>
