<div class="contact"><%= "Профиль пользователя ID #{@user.id}" %></div>
<div class="forma">
  <form class="form-horizontal" role="form">
    <%=  show_static_field('Имя', @user.first_name)%>
    <%=  show_static_field('Фамилия', @user.last_name)%>
    <%=  show_static_field('Отчество', @user.middle_name)%>
    <%=  show_static_field('дата рождения', @user.birthday)%>
    <%=  show_static_field('пол', @user.gender)%>
    <%=  show_static_field('email', @user.email)%>
    <%=  show_static_field('номер телефона', @user.phone)%>
    <p>место рождения</p>
    <%=  show_static_field('страна', @user.bp_country)%>
    <%=  show_static_field('адрес', @user.bp_address)%>
    <%=  show_static_field('джамоат', @user.bp_gamoat)%>
    <p>место проживания</p>
    <%=  show_static_field('как долго', @user.state_of_living)%>
    <%=  show_static_field('страна', @user.lp_country)%>
    <%=  show_static_field('адрес', @user.lp_address)%>
    <%=  show_static_field('район/ст.метро', @user.lp_district_metro)%>
    <%=  show_static_field('русский', @user.russian)%>
    <%=  show_static_field('таджик', @user.tajik)%>
    <%=  show_static_field('другая национальность', @user.other_nationality)%>
    <%=  show_static_field('образование', @user.education)%>
    <%=  show_static_field('степень', @user.grade)%>
    <%=  show_static_field('оконченное учебное заведение', @user.university)%>
    <%=  show_static_field('специальность по диплому', @user.profession)%>
    <%=  show_static_field('дата получения диплома', @user.year_of_graduation)%>
    <%=  show_static_field('работает/учится', @user.state_of_occupation)%>
    <%=  show_static_field('текущее место работы/учебы', @user.current_occupation)%>
    <%=  show_static_field('доход', @user.income)%>
    <%=  show_static_field('семейное положение', @user.marital_status)%>
    <%=  show_static_field('какой сфере может быть полезен джамоату', @user.user_helps_gamoat)%>
    <%=  show_static_field('дата вступления в брак', @user.year_of_marriage)%>
    <%=  show_static_field('с супругом проживает отдельно или совместно', @user.state_of_separation)%>
    <% unless @user.languages.empty? %>
      <% @user.languages.each do |language| %>
        <%=  show_static_field('язык', language.name)%>
        <%=  show_static_field('уровень владения', @user.proficiency_for(language).level)%>
      <% end %>
    <% end %>
    <%=  show_static_field('другие иностранные языки', @user.other_lang)%>
  </form>
  <h5> Супруг/Супруга </h5>
    <% unless @user.spouses.empty? %>
      <% @user.spouses.each do |spouse| %>
      <div>
        <%= link_to spouse.fullname, user_path(spouse), class: 'user' %> |
        <%= link_to "удалить", user_spouse_path(@user, spouse), method: :delete %>
      </div>
    <% end %>
    <% end %>
  <h5> Родители </h5>
    <% unless @user.parents.empty? %>
      <% @user.parents.each do |parent| %>
        <div>
          <%= link_to parent.fullname, user_path(parent), class: 'user' %> |
          <%= link_to "удалить", user_parent_path(@user, parent), method: :delete %>
        </div>
      <% end %>
    <% end %>
  <h5> Дети </h5>
    <% unless @user.children.empty? %>
      <% @user.children.each do |child| %>
        <div>
          <%= link_to child.fullname, user_path(child), class: 'user' %> |
          <%= link_to "удалить", user_child_path(@user, child), method: :delete %>
        </div>
      <% end %>
    <% end %>
</div>
<div class="contact">Дополнительно</div>
<% unless @user.roles.empty? %>
  <h5> права доступа </h5>
  <% @user.roles.each do |role| %>
    <div>
      <%= role.name %>
    </div>
  <% end %>
<% end %>
<div class="contact-user">
  <%= mail_to @user.email, "Связаться с пользователем" %>
</div>
