<div class="index-container">
  <div class="index-header">Пользователи</div>
  <div class="content-container clearfix">
    <div class="index-sidebar col-md-3">
      <ul class="nav nav-pills nav-stacked">
        <li><%= link_to "ПОЛЬЗОВАТЕЛИ", users_path %></li>
        <li><%= link_to "ОТЧЕТЫ" %></li>
        <li><%= link_to "ДОБАВИТЬ", new_user_path %></li>
        <li><%= link_to "НАЙТИ", search_new_path %></li>        
      </ul>    
    </div>
    <div class="index-content col-md-9">
      <%= render "users/form", object: @user, as: :user, url: user_path %>
    </div>
  </div>
  <div class="show-footer text-right">
      <%= link_to "вернуться в профайл пользователя", @user, class: "btn btn-info btn-xs active" %>
    </div>
  </div>
</div>
