<div class="index-container">
  <div class="index-header">Пользователи</div>
  <div class="content-container clearfix">
    <div class="index-sidebar col-md-3">
      <ul class="nav nav-pills nav-stacked">
        <li><%= link_to "ПОЛЬЗОВАТЕЛИ", users_path %></li>
        <li><%= link_to "ОТЧЕТЫ" %></li>
        <li><%= link_to "ДОБАВИТЬ", new_user_path %></li>
        <li><%= link_to "НАЙТИ", search_new_path %></li>        
      </ul>    
    </div>
    <div class="index-content col-md-9">
      <table class="table table-striped">
        <tr>
          <td>
            ФИО
          </td>
          <td>
            пол
          </td>
          <td>
            дата рождения
          </td>
          <td>
            дата регистрации
          </td>
          <td>
            оператор
          </td>
          <td>
            прочее
          </td>   
        </tr>
        <% @users.each do |user| %>
          <tr id="table_row_<%= user.id %>">
            <td>
              <%= link_to("#{user.first_name} #{user.middle_name} #{user.last_name}", user, {:class => "user"}) %>
            </td>
            <td>
              <%= user.gender %>
            </td>
            <td>
              <%= user.birthday %>
            </td>
            <td>
            </td>   
            <td>
              <% user.roles.each do |role| %>
               <%= "#{role.name}" %><br>
              <% end %>
            </td>
            <td>
            </td>
          </tr>
        <% end %>
      </table>
    </div>
  </div>
  <div class="index-footer">
    <%= paginate @users, theme: 'twitter-bootstrap-3' %>
  </div>
</div>
