<div class="index-container">
  <div class="index-header">Пользователи</div>
  <div class="content-container clearfix">
    <div class="index-sidebar col-md-3">
      <ul class="nav nav-pills nav-stacked">
        <li><%= link_to "ПОЛЬЗОВАТЕЛИ", users_path %></li>
        <li><%= link_to "ОТЧЕТЫ" %></li>
        <li><%= link_to "ДОБАВИТЬ", new_user_path %></li>
        <li><%= link_to "НАЙТИ", search_new_path %></li>        
      </ul>    
    </div>
    <div class="index-content col-md-9">
      <p><%= render "users/form", object: @user, as: :user, url: users_path %></p>
    </div>
  </div>
  <div class="index-footer">
    <div class="export">
      ВЫГРУЗИТЬ ПОЛЬЗОВАТЕЛЕЙ В ФОРМАТЕ:
      <%= link_to 'Excelx', users_exports_path(format: "xlsx") %> |
      <%= link_to "CSV", users_exports_path(format: "csv") %> |
      <%= link_to "Excel", users_exports_path(format: "xls") %>
    </div>
    <div class="import">
      ДОБАВИТЬ ПОЛЬЗОВАТЕЛЕЙ:
      <%= form_tag users_import_path, multipart: true do %>
        <%= file_field_tag :file %>
        <%= submit_tag "Сохранить", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>
