<div class="index-container">
  <div class="index-header">Пользователи</div>
  <div class="content-container clearfix">
    <div class="index-sidebar col-md-3">
      <ul class="nav nav-pills nav-stacked">
        <li><%= link_to "ПОЛЬЗОВАТЕЛИ", users_path %></li>
        <li><%= link_to "ОТЧЕТЫ" %></li>
        <li><%= link_to "ДОБАВИТЬ", new_user_path %></li>
        <li><%= link_to "НАЙТИ", search_new_path %></li>        
      </ul>    
    </div>
    <div class="index-content col-md-9 show-form">
      <p><%= render "users/user", object: @user, as: :user, url: user_path %></p>
    </div>
  </div>
  <div class="show-footer text-right">
    <%= link_to "редактировать", edit_user_path(@user), class: "btn btn-info btn-xs active" %>
    <%= link_to "удалить", user_path(@user), method: :delete, confirm: "You sure?", class: "btn btn-danger btn-xs active" %>
  </div>
</div>
