<div class="index-container">
  <div class="index-header"></div>
  <div class="content-container clearfix">
    <div class="col-md-2"></div>
    <div class="index-content-auth col-md-8">
      <div class="authorize text-center"><b>Авторизация</b></div>
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="nested-form col-md-12">
            <%= f.label :email, "Логин", class: "col-md-2 text-right"%>
            <%= f.email_field :email, autofocus: true, class: "form-control col-md-10 auth-input" %>
          </div>
          <div class="nested-form col-md-12">
            <%= f.label :password, "Пароль", class: "col-md-2 text-right"%>
            <%= f.password_field :password, class: "form-control col-md-10 auth-input" %>
          </div>
          <div class="nested-form col-md-12">
            <%= f.submit "Войти", class: "btn btn-success col-md-4 col-md-offset-4 forgot" %>
          </div>
          <div class="nested-form col-md-12">
                      <%= link_to "Забыл пароль", new_password_path(resource_name), class: "btn btn-default col-md-4 col-md-offset-4 forgot"%>
          </div>
          <div class="nested-form col-md-12">
            <% if devise_mapping.rememberable? -%>
              <div class: "remember">
                <%= f.check_box :remember_me %> <%= f.label :remember_me, "запомнить меня" %>
              </div>
            <% end -%>
          </div>
        <% end %>
     </div>
  </div>
</div>
