<h4><%= "добавить родителя пользователя #{@child.fullname}" %></h4>
<p><%= link_to "вернуться в профайл ребенка", @child, class: "btn btn-info btn-xs active" %></p>
<p><%= render "users/form", object: @parent, as: :parent, url: user_parents_path(@child, @parent) %></p>
