// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.field_with_errors, .translation_missing {
	border: 1px solid red;
}
.user {
  color: #556B2F;
}
.mail {
  color: #8FBC8F;
}
.layout-alerts {
  background-color: #F0F8FF;
  min-height: 800px;  
  margin-top: 50px;
  padding: 3px;
  width: auto;
}
.alert, .notice {
  margin: 0px;
  padding: 0px;
}
.index-header {
  height: 50px;
  font-size: 20px;
  padding-left: 20%;
  padding-top: 7px;
}
.index-footer {
  height: 100px;
  padding-left: 320px;
}
.index-content {
  border: 10px solid white;
  margin-left: 20%;
  min-height: 500px; 
  padding: 0px;
}
.index-content-auth {
  border: 10px solid white;
  height: auto;  
  margin: 0px;
  padding: 0 0 20px 0;
}
.index-sidebar {
  position: absolute;
}
.content-container {
  background-color: #F0F8FF;
}
.clearfix:after {
  clear:both;
  content:"";
  display:table;
}
.about-contact {
  background-color: #BEBEBE;
  height: 40px;
  margin-top: -10px;
  padding: 10px;
}
.import {
  float: right;
  padding: 10px;
}
.export {
  float: left;
  padding: 10px;
}
.xt-input {
  width: 400px !important;
}
.tr-input {
  width: 200px !important;
}
.tripple-field {
  padding: 0;
}
.show-form {
  padding-left: 100px;
}
.show-footer {
  padding: 10px;
}
.contact {
  background-color: #BEBEBE;
  height: 40px;
  margin-top: -10px;
  margin-left: -100px;
  padding: 10px;
}
.forma {
  margin-bottom: 20px;
  padding: 20px 0px;
}
.contact-user {
  margin: 40px 0px;
}
.university-input {
  width: 265px !important;
}
.occupied {
  margin-left: 35px;
  width: 191px !important;
}
.occupation-input {
  width: 265px !important;
}
.occupied-input {
  width: 104px !important;
}
.spouse-border {
  border: 1px solid black;
  height: auto;
  padding-bottom: 10px;
}
.license-input {
  width: 150px !important;
}
.search-wipper {
  margin-top: 10px;
}
.search-form {
  padding-top: 20px;
}
.nested-form {
  margin-bottom: 15px;
}
.nested-input {
  width: 400px !important;
}
.nested-fields {
  margin: 20px;
}
.spouse-border :first-child {
  margin-top: 10px;
}
.bdate {
  width: 225px !important;
}
.authorize {
  background-color: #BEBEBE;
  height: 40px;
  margin-bottom: 15px;
  padding: 10px;
}
.auth-input {
  width: 67%;

}
.remember {
  margin-left: 133px;
}
.radio-no {
  margin-top: 10px !important;
}
.search-select {
  padding: 0;
  width: 170px !important;
}
.text-s {
  margin-top: 9px;
}
.forgot {
  min-width: 120px;
}
