<!DOCTYPE html>
<html>
  <head>
    <title>PAMIR</title>
    <%= stylesheet_link_tag    "application", media: "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="wrapper">
      <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container-fluid">
          <div class="navbar-header">
            <%= link_to "Russia Pamirian Database 1.0", root_path, class: "navbar-brand" %>
          </div>
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-5">
            <p class="navbar-text navbar-right">
            <% if user_signed_in? %>
              Вы вошли как <%= current_user.email %>
              <%= link_to 'выйти', destroy_user_session_path, method: :delete %>
            <% end %>
            </p>
          </div>
        </div>
      </nav>
      <div class="layout-alerts">
        <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>
        <p class="alert"><%= flash[:error] %></p>
        <p class="notice"><%= flash[:success] %></p>
        <%= yield %>
      </div>
    </div>
  </body>
</html>
